$text-color: white;
$textFade-color: rgba(255, 255, 255, 0.7);
$bg-color: #090310;
$bgFade-color: #09031041;
$black: black;

$buyHover: #e45a83;
$removeHover: rgba(225, 0, 255, 0.705);
$loginHover: rgba(0, 255, 136, 0.705);
$deleteHover: red;
